.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure modal is on top */
}

.modal-content {
  background-color: white; /* Modal background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.input-custom {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #E4602C;
  border-radius: 5px;
}

.search-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #E4602C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #d15328; /* Darker on hover */
}

.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ccc; /* Light gray */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ccc; /* Light gray for the close button */
  color: #333;            /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 5px;
}

.close-button:hover {
  background-color: #bbb; /* Darker gray on hover */
}
